h1 {
  width: 50%;
  margin: 0 auto; /* Centers the element itself horizontally */
  text-align: center; /* Centers the text inside the element */
  padding: 15px; 
  border: 2px solid black; 
}

p.eat-drink, p.visit {
  text-indent: 10%;
}

.visit{
    color:red;
}

/* Targets list item under resturant list */
.resturants li:nth-child(3){
text-transform: uppercase;
    color:blue
}

/* Colors pertaining to the links */
a:link {
  color: green;
}

a:visited {
  color: blue;
}

a:hover {
  background-color: black;
}

a:active {
  color: red;
}